* {
  margin: 0;
  padding: 0;
  font-family: "NanumGothic", "dotum", "Arial", "sans-serif";
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  align-items: center;
}
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  height: 110px;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  background: url(../images/header_bg.png);
}
.header div {
  font-size: 16px;
  float: left;
  margin-top: 45px;
  margin-left: 120px;
}
.header #logo {
  margin-top: 20px;
  margin-left: 400px;
}
.header ul {
  text-align: center;
  font-weight: 600;
}
.header ul li {
  font-size: 15px;
  line-height: 35px;
  width: 100%;
  height: 264px;
  padding: 10px 0;
  box-sizing: border-box;
  position: absolute;
  top: 110px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s, bottom 0s 0.3s;
  background: #cf3e58;
}
.header.on {
  transform: scaleX(1);
  bottom: 0;
  transition: transform 0.3s, bottom 0s, 0.3s;
}

.header #menu4 #menu4_text {
  position: absolute;
  top: 35px;
  right: 555px;
  font-size: 13px;
  font-weight: 700;
}
.header #menu4 #phone {
  position: absolute;
  top: 55px;
  right: 500px;
  font-size: 24px;
  font-weight: 700;
}
.header #go_brandMain {
  position: absolute;
  top: 0;
  right: 300px;
  padding: 40px 0 0;
  box-sizing: border-box;
  background-image: url(../images/go_main_brand_bg.png);
  width: 140px;
  height: 95px;
  text-align: center;
  display: block;
}
.header #go_brandMain span {
  font-weight: bold;
  padding-right: 20px;
  line-height: 30px;
  display: inline-block;
  background: url(../images/go_main_brand_arr.png) right center no-repeat;
}
#background_image {
  max-width: 100%;
  margin: 100px 0 0 0;
  z-index: 0;
  overflow: hidden;
}
.main_contents {
  font-family: "NanumGothic", "dotum", "Arial", "sans-serif";
  text-decoration: none;
  z-index: 9;
}
.main_contents div {
  position: relative;
  width: 300px;
  height: 252px;
  float: left;
}
.main_contents #container1 {
  width: 350px;
  height: 500px;
  background-color: rgba(232, 164, 167, 0.9);
  margin: -250px 0 0 400px;
}
.main_contents #container1 #title1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 40px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container1 p {
  position: relative;
  padding-left: 50px;
  padding-top: 60px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container2 {
  background-color: blue;
  margin: -253px 750px auto;
}
.main_contents #container2 #title2 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container2 p {
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container2 #option2 {
  padding-top: 40px;
  text-decoration-line: underline;
}
.main_contents #container3 {
  background-color: red;
  margin: -253px 1050px auto;
}
.main_contents #container3 #title3 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container3 p {
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container3 #option3 {
  padding-top: 40px;
  text-decoration-line: underline;
}
.main_contents #container4 {
  background-color: green;
  margin: -253px 1350px auto;
}
.main_contents #container4 #title4 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container4 p {
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container4 #option4 {
  padding-top: 40px;
  text-decoration-line: underline;
}
.main_contents #container5 {
  background-color: yellow;
  margin: -3px 750px auto;
}
.main_contents #container5 #title5 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container5 p {
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container5 #option5 {
  padding-top: 40px;
  text-decoration-line: underline;
}
.main_contents #container6 {
  background-color: brown;
  margin: -253px 1050px auto;
}
.main_contents #container6 #title6 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container6 p {
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container6 #option6 {
  padding-top: 40px;
  text-decoration-line: underline;
}
.main_contents #container7 {
  background-color: blue;
  margin: -253px 1350px auto;
}
.main_contents #container7 #title7 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}
.main_contents #container7 p {
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}
.main_contents #container7 #option7 {
  padding-top: 40px;
  text-decoration-line: underline;
}
.footer {
  width: 750px;
  height: 165px;
  float: left;
  position: relative;
  margin: 0 auto;
  background: #575757;
}
.footer #footer_logo {
  position: absolute;
  top: 39px;
  left: 400px;
}
#copyright {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  top: -30px;
  left: 100px;
}
.footer_main {
  width: 1153px;
  height: 165px;
  float: left;
  position: relative;
  margin: 0 auto;
  background: #f1f2f2;
  overflow: hidden;
}
.footer_main #footer_menu li {
  font-size: 15px;
  font-weight: 600;
  float: left;
  overflow: hidden;
  margin: 40px 0 0 40px;
}
.footer_main #footer_menu p {
  overflow: hidden;
  float: left;
  margin: 40px -20px 0 20px;
}
.footer_main #go_login {
  width: 130px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 250px;
  border: 1px solid #983b43;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  color: #983b43;
  text-align: center;
}
.footer_main #center {
  font-size: 15px;
  font-weight: 600;
  margin: 80px 0 -18px 40px;
}
.footer_main #tell {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 -18px 120px;
  line-height: 22px;
  float: left;
}
.footer_main #time {
  font-size: 12px;
  font-weight: 300;
  margin: 0px 0 0 10px;
  line-height: 22px;
  display: inline-block;
}
#address {
  font-size: 12px;
  font-weight: 300;
  margin-left: 40px;
  line-height: 22px;
  overflow: hidden;
}
#address li {
  float: left;
  list-style: none;
}
#address p {
  float: left;
  margin: 0 11px 0 11px;
}
