html {
  margin: 0;
  border: 0;
  padding: 0;
}
sapn {
  margin-right: 100px;
}
#data1 {
  margin-right: 20px;
  border-right: 20px;
  padding-right: 60px;
}
#data2 {
  background-color: brown;
  /* top right bottom left */
  margin: 50px 100px 150px 200px;
  /* (top bottom) , (left right)*/
  border: 500px 800px;
  /* 패딩 전체 300 */
  padding: 300px;
}
