* {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
#menu1 {
  width: 100%;
  height: 95px;
  background-color: black;
  /* 스크롤바를 내려도 고정 */
  position: fixed;
  /* 겹치는게 있어도 맨 앞 */
  z-index: 10;
}
/* #menu1 - ul 은 직계자식 */
#menu1 ul {
  display: inline-block;
  margin: 20px;
}
#menu1 ul li {
  float: left;
  height: 100%;
  line-height: 60px;
  text-align: center;
  background-color: black;
  position: relative;
}
#menu1 ul li a {
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 0px;
}
#left {
  width: 90px;
}
#right {
  font-size: 15px;
  width: 75px;
}
#cartMenu {
  margin-top: -9px;
}
#Menu {
  margin-top: -9px;
}
#add1 {
  position: relative;
  top: 95px;
  margin: 0 auto;
  overflow: hidden;
  width: 1600px;
  border: #f4f4f4;
  height: 500px;
}
#add2 {
  margin: 0 auto;
  overflow: hidden;
  width: 1600px;
  background-color: white;
  height: 600px;
}
#add2 img {
  position: relative;
  float: left;
  left: 460px;
  top: 150px;
  padding: 50px;
}
#add2 ul li {
  position: relative;
  float: left;
  font-weight: bolder;
  font-style: 고딕체;
  top: 315px;
  left: -280px;
  padding: 50px 50px 10px 50px;
}
#add2Text2 li {
  color: rgb(83, 83, 83);
  position: relative;
  text-align: center;
  float: left;
  font-size: 13px;
  font-weight: 600;
  font-family: 고딕체;
  top: 150px;
  padding: 20px;
}
#add3 {
  margin: 0 auto;
  overflow: hidden;
  width: 1600px;
  border: #f4f4f4;
  height: 500px;
  text-align: center;
}
